ul.todo-list
  list-style: none

li.todo-item
  display: flex
  align-items: center
  &:last-child
    > span
      border-bottom: 1px solid transparent
  &:hover
    > button,
    > label
      opacity: 1

  > label,
  > button
    flex-shrink: 0
    transition: opacity 0.5s
    opacity: 0

  > label
    width: 3rem
    height: 3rem
    display: grid
    place-items: center
    line-height: 0
    font-size: 0
    cursor: pointer

  > span
    flex-grow: 1
    padding: 1rem 0
    border-bottom: 1px solid var(--bg)

  > span.done
    color: var(--text-m)
    text-decoration: line-through

  > button
    width: 3rem
    height: 3rem
    color: var(--text-l)
    background-color: transparent