fieldset.filter
  display: flex
  align-items: center
  position: relative

  > span
    color: var(--text-m)
    margin-right: 1rem

    &.active
      color: var(--text)

  > label
    padding: 0.5rem
    line-height: 0
    border-radius: 50%
    cursor: pointer

    > input
      pointer-events: none

  > div.track
    position: absolute
    border-radius: 50%
    background-color: var(--key)
    transform-origin: center
    z-index: -1