fieldset.filter
  display: flex
  align-items: center

  > span
    color: var(--text-l)
    margin-right: 1rem

    &.active
      color: var(--text)

  > label
    padding: 0.5rem
    line-height: 0
    border-radius: 50%
    cursor: pointer

    &.active
      background-color: var(--fill)

    > input
      pointer-events: none