form.adddoo
  height: 3rem
  display: flex

  > *
    padding: 1rem
    border-radius: 1rem
    background-color: transparent

  > input
    flex-grow: 1
    &::placeholder
      color: var(--grey)

  > button
    flex-shrink: 0