fieldset.theme-switcher
  display: flex
  gap: 0.5rem

  > button
    padding: 0.2rem 0.5rem
    font-size: 0.6rem
    line-height: 0.6rem
    color: var(--text-m)
    border-radius: 0.5rem
    background-color: transparent

    &.active
      color: var(--text)
      background-color: var(--fill)