:root {
  --light-h: #eee
  --bg: var(--light-h);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20px;
  line-height: 1rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: var(--bg);
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: min(100%, 960px);
  overflow: auto;
  display: grid;
  grid-template: 3rem auto 3rem / auto;
}